.card {
  display: flex;
  width: 300px;
  height: 420px;
  border-radius: 14px;
  margin-top: 20px;
  justify-content: flex-end;
  align-items: bottom;
  position: relative;
  z-index: 3;
}

.card-image {
  height: 418px;
  width: 298px;
  justify-content: flex-end;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 13px;
  overflow: hidden;
}

.card-image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border: 1px;
  border-radius: inherit;
}

.card-content {
  display: flex;
  height: 140px;
  width: 298px;
  border-radius: 0px 0px 13px 13px;
  background-color: rgb(0, 0, 0, 0.6);
  justify-content: flex-start;
  position: absolute;
  z-index: 2;
}

.card-name {
  font-size: large;
  color: whitesmoke;
}

.card-type {
  font-size: medium;
  color: whitesmoke;
}

.card-cost {
  background-color: rgb(0, 0, 0, 0.6);
  color: whitesmoke;
  font-size: x-large;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-width: 6px;
  border-style: ridge;
  border-color: whitesmoke;
  line-height: 50px;
  text-align: center;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.card-stats {
  background-color: rgb(0, 0, 0, 0.6);
  color: whitesmoke;
  font-size: medium;
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-width: 5px;
  border-style: ridge;
  border-color: whitesmoke;
  line-height: 40px;
  text-align: center;
  bottom: 120px;
  right: 10px;
  z-index: 3;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100px;
    height: 140px;
    border-radius: 5px;
  }
}